{% load i18n %}
{% load static from staticfiles %}

	<!-- Clients -->
	<section class="section clients">
		<div class="container">
			<header class="text-center">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
						<h2>Affiliates</h2>
						<p>Enlingo work with Weibo, Wechat, Renren, Zhihu, Baidu Zhidao to deliver our members'service profiles using the richest and most focussed Chinese audience social media campaigns.</p>
					</div>
				</div>
			</header>

			<div class="row">
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="{% static "tmp/clients/wechat.png" %}" alt="#" width="96" height="96" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="{% static "tmp/clients/weibo.png" %}" alt="#" width="96" height="96">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="{% static "tmp/clients/zhihu.png" %}" alt="#" width="96" height="96">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="{% static "tmp/clients/baidu.png" %}" alt="#" width="96" height="96">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="{% static "tmp/clients/renren.png" %}" alt="#" width="96" height="96">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="{% static "tmp/clients/Aliyun.png" %}" alt="#" width="96" height="96">
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Business theme -->
	<div class="section businessTheme">
		<div class="container text-center">
			<h2>Enlingo</h2>
			<a href="#" title="#" class="btn btn-lg btn-yellow btn-effect"><span>News</span></a>
		</div>
	</div>

		<div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-sm-3 i">
						<h2>Enlingo</h2>
						<div class="content">
							Unit 1005/3 Herbert Street<br />
							St Leonards, NSW<br />
							Australia 2065<br />
							+612 8006 2982<br />
							<a href="#" title="#">membersupport@enlingo.com</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Newsletter</h2>
						<p>Get the latest news via email:</p>
						<form>
							<input type="email" class="form-control">
							<button type="submit" class="submit sprite"></button>
						</form>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Follow</h2>
						<p>Get close to us</p>

						<div class="socials">
							<a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>About Us</h2>
						<div class="content clearfix">
							<a href="#" title="#">Company</a>
							<a href="#" title="#">Management</a>
							<a href="#" title="#">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 i">Copyright © 2016 <a href="http://www.enlingo.com/" title="Enlingo">Enlingo</a></div>
					<div class="col-xs-6 i">Web Design: <a href="http://www.enlingo.com/" title="Juraj Molnar" target="_blank">Enlingo Team</a></div>
				</div>
			</div>
		</div>