{% load static from staticfiles %}
<!--<meta http-equiv="Content-type" content="text/html; charset=utf-8"> -->
<!--<meta http-equiv="X-UA-Compatible" content="IE=8"> -->
<!-- <link href='/site_media/static/css/site.css?1b160de18a8e16ad4b1d' rel='stylesheet' /> -->
<!--<link href='/site_media/static/css/blog_list.css' rel='stylesheet' /> -->


<link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "assets/css/app.min.css" %}" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "assets/fonts/font-awesome/css/font-awesome.min.css" %}" rel='stylesheet' type='text/css'>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="{% static "assets/css/owl.carousel.css" %}" rel='stylesheet' type='text/css'>