{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load pinax_blog_tags %}
{% load account_tags %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}Enlingo Members Australia{% endblock %}
{% block main_sub %}subpage{% endblock %}
{% block data1_value %}top: 0%;{% endblock %}
{% block data2_value %}top: -10%;{% endblock %}
{% block active4 %}active{% endblock %}
{% block index_or_subpage_component %}
			<div class="text-center">
				<h2 class="subpageTitle">News</h2>
			</div>
{% endblock %}
{% block body_base %}

	<!-- Blockquote -->
	<div class="section">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
					<blockquote class="blockquote-lg">Enlingo Updates to our <strong>members</strong>. Catch up on member news and <strong>Posting Strategies</strong>.</blockquote>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog posts -->
	<div class="section gray latestPosts">
		<div class="container">
			<h2 class="text-center">Latest <strong>News</strong></h2>

			<div class="listing row js-latestPosts">
				<div class="col-xs-6 col-sm-4 i">
					<div class="c">
						<a href="pinax/blog/blog_post.html" title="#">
							<img src="{% static "tmp/blog-1.jpg" %}" alt="#" width="370" height="280" class="img-responsive">
						</a>
						<div class="wrapInfo">
							<h3>
								<a href="pinax/blog/blog_post.html" title="#">UNSW Weibo & Wechat 2016 Views hit 500,000!</a>
							</h3>
							<div class="info">
								<span class="sprite icon icon-calendar"></span>
								<div class="date">25th May 2016</div>
								<div class="author">By: <a href="" title="#">Yue Zhang</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 i">
					<div class="c">
						<a href="pinax/blog/blog_post.html" title="#">
							<img src="{% static "tmp/blog-2.jpg" %}" alt="#" width="370" height="280" class="img-responsive">
						</a>
						<div class="wrapInfo">
							<h3>
								<a href="pinax/blog/blog_post.html" title="#">2016 Chinese Outbound Student Outlook - Mass Middle Class Explosion</a>
							</h3>
							<div class="info">
								<span class="sprite icon icon-calendar"></span>
								<div class="date">26th May 2016</div>
								<div class="author">By: <a href="" title="#">Victor Xi</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 i">
					<div class="c">
						<a href="pinax/blog/blog_post.html" title="#">
							<img src="{% static "tmp/blog-3.jpg" %}" alt="#" width="370" height="370" class="img-responsive">
						</a>
						<div class="wrapInfo">
							<h3>
								<a href="pinax/blog/blog_post.html" title="#">STEM (Science, Technology Engineering & Maths) student interest in May 2016 peaked with the announcement of a co-operation between Chengdu University and Monash on graphene research.</a>
							</h3>
							<div class="info">
								<span class="sprite icon icon-calendar"></span>
								<div class="date">20th May 2016</div>
								<div class="author">By: <a href="" title="#">Jae Ahn</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 i">
					<div class="c">
						<a href="pinax/blog/blog_post.html" title="#">
							<img src="{% static "tmp/blog-4.jpg" %}" alt="#" width="370" height="370" class="img-responsive">
						</a>
						<div class="wrapInfo">
							<h3>
								<a href="pinax/blog/blog_post.html" title="#">Single Subclass 570 student visa brings a more entrepreneurial crowd to Australia</a>
							</h3>
							<div class="info">
								<span class="sprite icon icon-calendar"></span>
								<div class="date">20th May 2016</div>
								<div class="author">By: <a href="" title="#">Damien Lee</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 i">
					<div class="c">
						<a href="pinax/blog/blog_post.html" title="#">
							<img src="{% static "tmp/blog-5.jpg" %}" alt="#" width="370" height="210" class="img-responsive">
						</a>
						<div class="wrapInfo">
							<h3>
								<a href="pinax/blog/blog_post.html" title="#">Chinese Working Holiday Visa drive ELICOS and Vocational Training Sector enquiries</a>
							</h3>
							<div class="info">
								<span class="sprite icon icon-calendar"></span>
								<div class="date">15th May 2016</div>
								<div class="author">By: <a href="pinax/blog/blog_post.html" title="#">Yue Zhang</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 i">
					<div class="c">
						<a href="pinax/blog/blog_post.html" title="#">
							<img src="{% static "tmp/blog-6.jpg" %}" alt="#" width="370" height="210" class="img-responsive">
						</a>
						<div class="wrapInfo">
							<h3>
								<a href="pinax/blog/blog_post.html" title="#">Weibo Social Media Top 3: UNSW, Monash & Melbourne University</a>
							</h3>
							<div class="info">
								<span class="sprite icon icon-calendar"></span>
								<div class="date">14th May 2016</div>
								<div class="author">By: <a href="pinax/blog/blog_post.html" title="#">Jae Ahn</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 i">
					<div class="c">
						<a href="pinax/blog/blog_post.html" title="#">
							<img src="{% static "tmp/blog-7.jpg" %}" alt="#" width="370" height="210" class="img-responsive">
						</a>
						<div class="wrapInfo">
							<h3>
								<a href="pinax/blog/blog_post.html" title="#">Chinese Social Media driving Australian AIE 2025 Initiative</a>
							</h3>
							<div class="info">
								<span class="sprite icon icon-calendar"></span>
								<div class="date">10th May 2016</div>
								<div class="author">By: <a href="pinax/blog/blog_post.html" title="#">Damien Lee</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-sm-offset-4">
					<a href="#" title="#" class="btn btn-lg btn-red btn-effect">+ 10 more posts...</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}