{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load pinax_blog_tags %}
{% load account_tags %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}Enlingo Members Australia{% endblock %}
{% block main_sub %}subpage{% endblock %}
{% block data1_value %}top: 0%;{% endblock %}
{% block data2_value %}top: -10%;{% endblock %}
{% block active3 %}active{% endblock %}
{% block index_or_subpage_component %}
        <div class="text-center">
            <h2 class="subpageTitle">Recharge Credits</h2>
        </div>
{% endblock %}

{% block body_base %}
	<!-- Blockquote -->
	<div class="section">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
					<blockquote class="blockquote-lg">
						Enlingo members credits help keeps your profile <strong>active</strong>. Recharge <strong>now</strong>!
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<!-- Pricing tables -->
	<div class="pricingTables">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-3 i active">
					<div class="c">
						<div class="head">{{ REC_500.description }}</div>
						<div class="price">
							10<sup> $</sup><span>/ Pack†</span>
						</div>
						<div class="info">
                            <strong>500</strong> Credits Pack<br />
							For the Active Professional<br />
						</div>
						<div class="btnWrap">
                            <a href="{%  url "recharge_credits_processing" REC_500.pk %}" title="recharge_credits" class="btn btn-gray">Recharge</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 i active">
					<div class="c">
						<div class="head">{{ REC_1000.description }}</div>
						<div class="price">
							20<sup> $</sup><span>/ Pack†</span>
						</div>
						<div class="info">
                            <strong>1000</strong> Credits Pack<br />
							Suit Partnerships<br />
						</div>
						<div class="btnWrap">
							<a href="{%  url "recharge_credits_processing" REC_1000.pk %}" title="recharge_credits" class="btn btn-gray">Recharge</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 i">
					<div class="c">
						<div class="head">{{ REC_2500.description }}</div>
						<div class="price">
							50<sup> $</sup><span>/ Pack†</span>
						</div>
						<div class="info">
                            <strong>2500</strong> Credits Pack<br />
							Corporate Agency<br />
						</div>
						<div class="btnWrap">
							<a href="{%  url "recharge_credits_processing" REC_2500.pk %}" title="recharge_credits" class="btn btn-gray">Recharge</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 i">
					<div class="c">
						<div class="head">{{ REC_5000.description }}</div>
						<div class="price">
							100<sup> $</sup><span>/ Pack†</span>
						</div>
						<div class="info">
                            <strong>5000</strong> Credits Pack<br />
							International Student Institutions
						</div>
						<div class="btnWrap">
							<a href="{%  url "recharge_credits_processing" REC_5000.pk %}" title="recharge_credits" class="btn btn-gray">Recharge</a>
						</div>
					</div>
				</div>
			</div>

			<p class="text-center moreInfo">† Credits are valid for one year.</p>
		</div>
	</div>
{% endblock %}