<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>CloudArena</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- CSS -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/app.min.css">
	<link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	
	<!-- Modernizr -->
	<script src="assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	
	<!-- Header -->
	<header id="header" class="subpage" data-0="top: 0%;" data-300="top: -10%;">
		<div class="container">
			<div class="navbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="logo">
						<a href="index.html" title="Home"><span class="sprite icon"></span> Cloud<strong>Arena</strong></a>
					</h1>
				</div>

				<nav class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="sub">
							<a href="index.html" title="Home">Home</a>
							<ul>
								<li><a href="index.html" title="Gradient">Gradient</a></li>
								<li><a href="index-color.html" title="Single color">Single color</a></li>
								<li><a href="index-video.html" title="Video">Video</a></li>
								<li><a href="index-image.html" title="Image">Image</a></li>
								<li><a href="index-cols.html" title="Two columns">Two columns</a></li>
								<li><a href="index-full-gradient.html" title="Fullscreen gradient">Fullscreen gradient</a></li>
								<li><a href="index-full-color.html" title="Fullscreen single color">Fullscreen single color</a></li>
								<li><a href="index-full-video.html" title="Fullscreen video">Fullscreen video</a></li>
								<li><a href="index-full-image.html" title="Fullscreen image">Fullscreen image</a></li>
								<li><a href="index-full-cols.html" title="Fullscreen two columns">Fullscreen two columns</a></li>
							</ul>
						</li>
						<li class="sub active">
							<a href="about.html" title="About">About</a>
							<ul>
								<li><a href="icons.html" title="Icons" class="active">Icons</a></li>
								<li><a href="landing.html" title="Landing">Landing</a></li>
							</ul>
						</li>
						<li><a href="pricing.html" title="Pricing">Pricing</a></li>
						<li><a href="blog.html" title="Blog">Blog</a></li>
						<li><a href="contact.html" title="Contact">Contact</a></li>
						<li class="login"><a href="login.html" title="Login"><i class="icon fa fa-lock"></i> Login</a></li>
					</ul>
				</nav>
			</div>
			
			<div class="text-center">
				<h2 class="subpageTitle">Icons</h2>
			</div>
		</div>
	</header>

	<!-- Icons listing -->
	<div class="iconsListing">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
					<div class="row">
						<div class="col-xs-2 i">
							<img src="img/icons/anchor.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/aperture.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/arrow-down.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/arrow-up.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/art.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/barchart.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/batteryfull.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/batterylow.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/bike.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/biker.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/bikewheel.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/blimp.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/bolt.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/bomb.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/booklet.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/bookshelf.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/briefcase.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/brightness.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/browser.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/brush-pencil.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/calculator.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/calendar.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/camera.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/car.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/cart.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/carwheel.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/caution.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/chat.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/check.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/circlecompass.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/clapboard.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/clipboard.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/clock.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/cloud.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/cmyk.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/colorwheel.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/compass.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/compose.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/computer.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/cone.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/contacts.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/contrast.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/countdown.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/creditcard.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/crop.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/crossroads.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/cruise.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/cursor.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/denied.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/dev.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/die.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/document.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/dolly.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/door.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/download.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/easel.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/email.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/eye.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/eyedropper.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/fashion.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/filmreel.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/filmroll.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/flag.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/flame.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/flash.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/flower.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/focus.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/folder.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/frames.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/gamecontroller.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/gas.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/gear.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/genius.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/global.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/globe.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/gps.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/hazard.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/heart.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/helicopter.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/hotair.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/hourglass.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/image.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/interstate.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/key.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/keyboard.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/lens.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/lightbulb.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/loading.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/location.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/locked.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/magicwand.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/magnifyingglass.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/mail.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/map.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/megaphone.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/megaphone2.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/memorycard.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/merge.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/mic.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/microphone.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/money.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/motorcycle.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/music.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/news.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/paintbrush.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/paintbrush2.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/paintcan.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/paintroller.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/parachute.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/pencil.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/phone.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/piechart.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/pin.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/pin2.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/plane.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/play.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/plugin.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/polaroid.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/polaroidcamera.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/polaroids.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/power.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/present.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/profle.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/quote.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/racingflags.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/radio.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/radiotower.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/rainbow.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/recycle.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/rgb.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/ribbon.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/roadblock.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/rocket.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/rulertriangle.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/running.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/sailboat.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/schooolbus.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/scissors.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/scooter.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/security.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/selftimer.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/settings.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/shipwheel.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/shoeprints.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/shop.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/skateboard.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/slr.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/smartphone.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/spaceshuttle.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/speaker.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/speedometer.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/spraypaint.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/stack.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/star.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/steeringwheel.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/stop.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/sub.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/submarine.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/support.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/swatches.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/tablet.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/takeoff.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/target.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/taxi.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/toolbox.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/tools.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/tractor.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/traffic.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/train.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/travelerbag.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/trends.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/tripod.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/trophy.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/truck.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/tv.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/typography.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/ufo.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/umbrella.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/unicycle.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/unlocked.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/upload.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/video.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/videocameraclassic.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/videocameracompact.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/volume.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/water.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/weather.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/windsock.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/windy.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/x.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/zoomin.png" alt="" width="64" height="64">
						</div>
						<div class="col-xs-2 i">
							<img src="img/icons/zoomout.png" alt="" width="64" height="64">
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<!-- Business theme -->
	<div class="section businessTheme">
		<div class="container text-center">
			<h2>Do you need beautiful business theme?</h2>
			<a href="#" title="#" class="btn btn-lg btn-yellow btn-effect">Purchase CloudArena <span>$15 only</span></a>
		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-sm-3 i">
						<h2>CloudArena</h2>
						<div class="content">
							Some street No. 58<br />
							951 55 Bratislava<br />
							Slovakia<br />
							+421 555 888 999<br />
							<a href="#" title="#">info@yourdomain.com</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Newsletter</h2>
						<p>Get the latest news via email:</p>
						<form>
							<input type="email" class="form-control">
							<button type="submit" class="submit sprite"></button>
						</form>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Follow</h2>
						<p>Get close to us</p>

						<div class="socials">
							<a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Account</h2>
						<div class="content clearfix">
							<a href="#" title="#">My account</a>
							<a href="#" title="#">Activity history</a>
							<a href="#" title="#">Deploys</a>
							<a href="#" title="#">My worklogs</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 i">Copyright © 2015 <a href="http://arena.tomaj.sk/" title="CloudArena">CloudArena</a></div>
					<div class="col-xs-6 i">Web Design: <a href="http://www.jurajmolnar.com/" title="Juraj Molnar" target="_blank">Juraj Molnár</a></div>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- JS -->
	<script src="assets/js/jquery-1.11.2.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/jquery.countTo.js"></script>
	<script src="assets/js/skrollr.min.js"></script>
	<script src="assets/js/jquery.doubletaptogo.min.js"></script>
	<script src="assets/js/app.min.js"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
	<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');
	</script> -->
</body>
</html>