{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load pinax_blog_tags %}
{% load i18n %}

{% block head_title %}Enlingo Members Australia{% endblock %}
{% block main_sub %}subpage{% endblock %}
{% block data1_value %}top: 0%;{% endblock %}
{% block data2_value %}top: -10%;{% endblock %}
{% block active2 %}active{% endblock %}
{% block index_or_subpage_component %}
			<div class="text-center">
				<h2 class="subpageTitle">Social Media Packages</h2>
			</div>
{% endblock %}

{% block body_base %}

	<!-- Blockquote -->
	<div class="section">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
					<blockquote class="blockquote-lg">Enlingo's SocialBOT<sup>&reg;</sup> Chinese social media translation and distribution technology for educational and visa agencies</blockquote>
				</div>
			</div>
		</div>
	</div>

	<!-- Features -->
	<section class="section gray aboutFeatures">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-4 col-md-pull-1 col-lg-4 col-lg-pull-1 i image pull-right">
					<img src="{% static "tmp/enlingo_create.png" %}" alt="#" width="256" height="256" class="img-responsive">
				</div>
				<div class="col-xs-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 i text">
					<h2>1. Create <strong>Post</strong></h2>
					<p>"Master of Mechanical Engineering Graduates in great demand in Perth". "New ELICOS study centre in Sydney opened". Use you organisation's existing social media materials or your own. Login to your userpanel and get started on a 100 word post.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Features -->
	<section class="section aboutFeatures">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 i image">
					<img src="{% static "tmp/enlingo_translate.png" %}" alt="#" width="256" height="256" class="img-responsive">
				</div>
				<div class="col-xs-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 i text">
					<h2><strong>2. Translation, </strong> Distribute & Tag </h2>
					<p>Enlingo's hybrid translation technology will take your post and translate it. Using our SocialBOT<sup>&reg;</sup> social media listening analytics, we then distribute it via our affiliate partner network. </p>
				</div>
			</div>
		</div>
	</section>

	<!-- Features -->
	<section class="section gray aboutFeatures">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-4 col-md-pull-1 col-lg-4 col-lg-pull-1 i image pull-right">
					<img src="{% static "tmp/enlingo_view.png" %}" alt="#" width="256" height="256" class="img-responsive">
				</div>
				<div class="col-xs-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 i text">
					<h2>3. Threaded Social Media and Enlingo Profile Views</h2>
					<p>Once someone views the post, perhaps in reply to a social media forum question, we record it. If they click on the source of the sender, it will send the viewer to your Enlingo profile. The more the views, the more the enquires and conversions. Don't worry, our member manager's and assistant's are always on hand to answer enquiries to complement your busy <schedule class=""></schedule></p>
				</div>
			</div>
		</div>
	</section>

	<!-- Stats -->
	<div class="section stats">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-projects"></span>
							<div class="num js-count" data-to="10102" data-speed="3000">10,112</div>
							<h2>Social Media Algorithms</h2>
						</div>
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-hours"></span>
							<div class="num js-count" data-to="925685" data-speed="3000">925,685</div>
							<h2>Online Social Views</h2>
						</div>
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-done"></span>
							<div class="num js-count" data-to="40000" data-speed="3000">40,000</div>
							<h2>Posts</h2>
						</div>
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-diary"></span>
							<div class="num"><span class="js-count" data-to="2000" data-speed="3000">2000</span>+</div>
							<h2>Consultants</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}