{% extends "site_base.html" %}
{% load django_tables2 %}
{%  load render_table from django_tables2 %}
{% load i18n %}


{% block head_title %}Enlingo留学老师{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% url "course" as course_url %}
            <h2><a href="{%  url "home" %}">{{ areaofstudy.name }}</a></h2>
            <p>
                {% blocktrans %}
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
        <table id="example" class="table table-condensed table-striped">
                    <col style="width:25%">
                    <col style="width:25%">
                    <col style="width:25%">
                    <col style="width:25%">
        <thead>
            <tr>
                <th><p>{% blocktrans %} <b>专业 学校 Institution</b>{% endblocktrans %}</p></th>
                <th><p>{% blocktrans %} <b>城市 City</b>{% endblocktrans %}</p></th>
                <th> <p>{% blocktrans %} <b>课程 Course Name</b>{% endblocktrans %}</p></th>
                <th> <p>{% blocktrans %} <b>老师日记</b>{% endblocktrans %}</p></th>
            </tr>
        </thead>
        <tbody>
        {% for course in courselist %}
            <tr>
                <td>{{ course.educationalinstitution }}</td>
                <td>{{  course.educationalinstitution.city }}</td>
                <td><a href="{%  url "coursesearch:course" areaofstudy.pk course.pk  %}">{{ course.course_name }}</a></td>
                <td>50</td>
            </tr>
         {%  empty  %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {%  endfor %}
        </tbody>
        </table>
        </div>
    </section>
        <section class="jumbotron">
        <div class="container">
            <div class="footer-columns">
                <div>
                    <b><a href="{% url "coursesearch:country" %}"><i class="fa fa-globe fa-3x"></i><br>
                     国家 <br>Country</a></b>
                </div>
                <div>
                    <b><a href="{% url "blog" %}"><i class="fa fa-building fa-3x"></i><br>
                    学校创新<br>College Innovation</a></b>
                </div>
                <div>
                    <b><a href="{% url "blog" %}"><i class="fa fa-newspaper-o fa-3x"></i><br>
                    老师介绍<br>College News <br>80老师顾问在线<br>1200同学现在看中</a></b>
                </div>
                <div>
                    <b><a href="{% url "consultantregistration:consultant_list" %}"><i class="fa fa-user fa-3x"></i><br>
                    老师介绍<br>Teacher Profile <br>80老师顾问在线<br>1200同学现在看中</a></b>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}