{% extends "site_base.html" %}

{% load i18n %}


{% block head_title %}Enlingo留学老师{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% url "course_chat" as course_chat_url %}
            <h2><b><a href="{% url "coursesearch:areastudy" studyarea %}">{{ course.course_name }}</a></b></h2>
            <p>
                {% blocktrans %}
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}<a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a>{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
        <section>
        <div class="container">
            <p class="lead text-center">
                <b>{{ course.educationalinstitution }}<br> 专科信息 Course Details</b>
            </p>
        </div>
    </section>
    <section>
        <div class="container">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><p>{% blocktrans %} <b>专业编号 Course Code</b>{% endblocktrans %}</p></th>
                <th><p>{% blocktrans %} <b>专业开学 Course Start Date</b>{% endblocktrans %}</p></th>
                <th><p>{% blocktrans %} <b>申请截止 Application Deadline</b>{% endblocktrans %}</p></th>
                <th><p>{% blocktrans %} <b>专科部门 Faculty Name</b>{% endblocktrans %}</p></th>
                <th><p>{% blocktrans %} <b>学费 Fees</b>{% endblocktrans %}</p></th>
                <th><p>{% blocktrans %} <b>学期期间 Duration</b>{% endblocktrans %}</p></th>
                <th> <p>{% blocktrans %} <b>2016 课程内容 2016 Course Structure</b>{% endblocktrans %}</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{  course.course_code }}</td>
                <td>{{  course.course_start_date }}</td>
                <td>{{  course.application_deadline }}</td>
                <td>{{  course.faculty_name }}</td>
                <td>{{  course.fees }}</td>
                <td>{{ course.duration }}</td>
                <td>信息 Details</td>
            </tr>
        </tbody>
        </table>
        </div>
    <section class="jumbotron">
        <div class="container">
            <div class="consultant-columns">
                {%  for courseconsultant in courseconsultantlist %}
                <div>
                    <a href="{% url 'coursesearch:courseconsultant' studyarea course1 courseconsultant.profile.pk %}">
                        <i class="fa fa-xing fa-3x"></i><br>
                        <b>{{ courseconsultant.last_name }} {{ courseconsultant.profile.salutation }}</b> <br>75 同学咨询过他</a>
                </div>
                {%  empty  %}
                <div>
                    <i></i><br>
                    {% blocktrans %}
                    <b><br></b> <br>
                    {% endblocktrans %}
                </div>
                {%  endfor %}
            </div>
        </div>
    </section>
        <section>
        <div class="container">
            <div class="footer-columns">
                <div>
                    <i class="fa fa-globe fa-3x"></i><br>
                    {% blocktrans %}
                    <b>国家<br>Country</b>
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-building fa-3x"></i><br>
                    {% blocktrans %}
                    <b>学校创新<br>College Innovation</b>
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-newspaper-o fa-3x"></i><br>
                    {% blocktrans %}
                    <b>老师介绍<br>College News</b> <br>80老师顾问在线<br>1200同学现在看中
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-user fa-3x"></i><br>
                    {% blocktrans %}
                    <b>老师介绍<br>Teacher Profile</b> <br>80老师顾问在线<br>1200同学现在看中
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
