{% load static from staticfiles %}
<!-- <script src='/site_media/static/js/site.js?1b160de18a8e16ad4b1d'></script> -->
<!-- jQuery library (served from Google) -->
<!-- <script src="/site_media/static/js/jquery.min.js"></script> -->

    <!-- --------------------------------------------------- -->

<script src="{% static 'assets/js/excanvas.min.js' %}"></script>
<!--<script src="{% static 'assets/js/jquery.min.js' %}"></script> -->
<script src='{% static "assets/js/jquery-1.11.2.min.js" %}'></script>
<script src="{% static 'assets/js/jquery-ui.custom.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.flot.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.flot.resize.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'assets/js/unicorn.js' %}"></script>
<script src="{% static 'assets/js/unicorn.dashboard.js' %}"></script>

