{% extends "site_base.html" %}
{% load staticfiles %}
{% load pinax_blog_tags %}
{% load i18n %}

{% block head_title %}Enlingo Members Australia{% endblock %}
{% block main_sub %}subpage{% endblock %}
{% block data1_value %}top: 0%;{% endblock %}
{% block data2_value %}top: -10%;{% endblock %}
{% block active2 %}active{% endblock %}
{% block index_or_subpage_component %}
			<div class="text-center">
				<h2 class="subpageTitle">Sign Up Successful</h2>
			</div>
{% endblock %}

{% block body_base %}

	<!-- Blockquote -->
	<div class="section">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                        <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:member.support@enlingo.com">member.support@enlingo.com</a>.{% endblocktrans %}</p>
                        <p><a href="{{ success_url }}">{% trans "Go back" %}</a></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}