<style>
	.helper-banner .cover{
		display:block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height:100%;
	}
</style>
<ul class='helper-banner' id='id_helper_banner' style=''>
	<li  class='qq'>
		<i class="qq fa fa-qq fa-2x" aria-hidden="true"></i>
		<p>咨询</p>
		<a class='cover' target='_blank' href=''></a>
	</li>
	<li>
		<i  class="mobile fa fa-mobile  fa-2x" aria-hidden="true"></i>
		<p>电话</p>
		<div class='detail-middle mobile'>
			<h3>联系电话</h3>
			<p>4000-717-313</p>
		</div>
		<i class='right-arrow'></i>
	</li>
	<li>
		<i class="weixin fa fa-weixin fa-2x" aria-hidden="true"></i>
		<div class='detail-middle weixin-wraper'>
			<img class='weixin-2code' src="http://cache.hinabian.com/images/qrcode.jpg" height="135" width="135" alt="留西洋微信公众账号">
			<p>扫一扫关注</p>
			<p>留西洋微信公众账号</p>

		</div>
		<i class='right-arrow'></i>
	</li>
	<li>
		<p class='fankui'>用户反馈</p>
		<div class='detail-middle email'>
			<h3>用户反馈邮箱：</h3>
			<p>feedback@enlingo.com</p>
		</div>
		<i class='right-arrow'></i>
	</li>
	<li class='top-wraper'>
		<i class='top-arrow'></i>
		<p class='top'>置顶</p>
	</li>

</ul>