{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load aliyunthumbnail %}
{% load pinax_blog_tags %}
{% load i18n %}


{% block head_title %}Enlingo留西洋网{% endblock %}

{% block body_class %}archive post-type-archive post-type-archive-u_member full-width custom-background-empty wpb-js-composer js-comp-ver-4.9 vc_responsive no-js{% endblock %}

{% block body_base %}
    {% include "_messages.html" %}
            <div class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h1>老师顾问</h1>
                        </div>
                        <div class="pathway col-md-4 col-sm-4 hidden-xs text-right">
                            <div class="breadcrumbs">
                                <a href="#" rel="v:url" property="v:title">Home</a> \ <span class="current">member</span>
                            </div><!-- .breadcrumbs -->                
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div><!--/page-heading-->  
            <div id="body">
	            <div class="container">
    	            <div class="content-pad-3x">
                        <div class="row">
                            <div id="content" class="col-md-12">	
                                <!-- <div class="content-pad">
                                    <ul class="list-inline member-filter">
                                        <li><a class="inherit-color main-color-1" href="#">All</a></li>
                                        <li><a class="inherit-color " href="#">A</a></li>
                          	            <li><a class="inherit-color " href="#">B</a></li>
                          	            <li><a class="inherit-color " href="#">C</a></li>
      	                            	<li><a class="inherit-color " href="#">D</a></li>
      	                            	<li><a class="inherit-color " href="#">E</a></li>
      	                            	<li><a class="inherit-color " href="#">F</a></li>
      	                            	<li><a class="inherit-color " href="#">G</a></li>
      	                            	<li><a class="inherit-color " href="#">H</a></li>
      	                            	<li><a class="inherit-color " href="#">I</a></li>
      	                            	<li><a class="inherit-color " href="#">J</a></li>
      	                            	<li><a class="inherit-color " href="#">K</a></li>
      	                            	<li><a class="inherit-color " href="#">L</a></li>
      	                            	<li><a class="inherit-color " href="#">M</a></li>
      	                            	<li><a class="inherit-color " href="#">N</a></li>
      	                            	<li><a class="inherit-color " href="#">O</a></li>
      	                            	<li><a class="inherit-color " href="#">P</a></li>
      	                            	<li><a class="inherit-color " href="#">Q</a></li>
      	                            	<li><a class="inherit-color " href="#">R</a></li>
      	                            	<li><a class="inherit-color " href="#">S</a></li>
      	                            	<li><a class="inherit-color " href="#">T</a></li>
      	                            	<li><a class="inherit-color " href="#">U</a></li>
      	                            	<li><a class="inherit-color " href="#">V</a></li>
      	                            	<li><a class="inherit-color " href="#">W</a></li>
      	                            	<li><a class="inherit-color " href="#">X</a></li>
      	                            	<li><a class="inherit-color " href="#">Y</a></li>
      	                            	<li><a class="inherit-color " href="#">Z</a></li>
      	                            </ul>
                                </div> -->
                                <div class="courses-filter">
                                    <div class="courses-filter-part">
                                        <div class="course-label">国家 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span class="active">China</span>
                                                <span>US</span>
                                                <span>Canada</span>
                                                <span>Rusia</span>
                                                <span>Japan</span>
                                                <span>England</span>
                                                <span>France</span>
                                                <span>Germany</span>
                                                <span>Korea</span>
                                                <span>Viet Nam</span>
                                            </div>
                                            <div class="course-option-add" style="display: none;">
                                                <span>Australia</span>
                                                <span>Spane</span>
                                            </div>
                                        </div>
                                        <div class="course-more">更多<span class="text-arrow"></span></div>
                                    </div>
                                    <div class="courses-filter-part">
                                        <div class="course-label">州省 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span> Province</span>
                                                <span class="active"> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                                <span> Province</span>
                                            </div>
                                            <div class="course-option-add" style="display: none;">
                                                <span>Province</span>
                                                <span>Province</span>
                                            </div>
                                        </div>
                                        <div class="course-more">更多<span class="text-arrow"></span></div>
                                    </div>
                                    <div class="courses-filter-part">
                                        <div class="course-label">城市 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span class="active"> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                                <span> City</span>
                                            </div>
                                            <div class="course-option-add" style="display: none;">
                                                <span> City</span>
                                                <span> City</span>
                                            </div>
                                        </div>
                                        <div class="course-more">更多<span class="text-arrow"></span></div>
                                    </div>
                                    <div class="courses-filter-part">
                                        <div class="course-label">学位类型 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span class="active">Type</span>
                                                <span>Type</span>
                                                <span>Type</span>
                                                <span>Type</span>
                                                <span>Type</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="courses-filter-part courses-filter-part-last">
                                        <div class="course-label">开课时间: </div>
                                        <div class="course-option">
                                            <input type="text" id="calendar"/>
                                        </div>
                                    </div>
                                </div> <!-- end filter -->
                                <div class="member-listing">
                                    <h4>搜索结果 :</h4>
                                    <div class="content-pad">{% for consultant in object_list %} <!-- start of all areas study records --> {% cycle 'start' '' '' as slidestart silent %} <!-- start of three perofiles per row counter -->{% cycle  '' '' 'end' as slideend silent %} <!-- end of row three limit counter --> {%  if slidestart %} <!-- slidestarted flag -->
                                        {% if forloop.first %}<div class="row">{% else %}{%  endif %}<!-- checks and adds div row -->{% endif %} <!-- end of first loop check -->
                                            <div class="member-item col-md-4">
                                                <div class="member-item-inner">
                                                    <div class="item-thumbnail">
                                                        <a href="{%  url "consultantregistration:course_consultant_profile" consultant.pk  %}" title="consultant">
                                                            <img width="360" height="360" src="{%  locate_image_location consultant whq="@360w_360h_2e" %}" class="attachment-thumb_526x526 size-thumb_526x526 wp-post-image" alt="U-member-1"  sizes="(max-width: 360px) 100vw, 360px" />
                                                        </a>
                                                    </div>
                                                    <div class="item-content">
                                                        <h3 class="item-title">
                                                            <a href="{%  url "consultantregistration:course_consultant_profile" consultant.pk  %}" title="title" class="main-color-1-hover">{{consultant.salutation}} {{consultant.user.first_name}} {{ consultant.user.last_name }}</a>
                                                        </h3>
                                                        <h4 class="small-text">职位：{{ consultant.consultantregistrationdetails.position }}</h4>
                                                        <p>居住城市：{{ consultant.consultantregistrationdetails.location }}</p>
                                                        <p>专业注册详细信息：{{ consultant.consultantregistrationdetails.registration_qualifications }}</p>
                                                        <p>科目学习博客</p>
                                                        <a href="javascript:void(0)">URL</a>
                                                        <p style="text-align: right;"><span class="fa fa-eye"></span> 250</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {%  if slideend or forloop.last %} <!-- If last loop, appears here -->
                                    </div>{% endif %}{% endfor %} <!-- end of all profiles records -->
                                    </div><!--/content-pad-->
                                </div><!--/member-listing-->
                            </div><!--/content-->

                        </div><!--/row-->
                    </div><!--/content-pad-->
                </div><!--/container-->
            </div><!--/body-->
    {% endblock %}

{% block extra_body %}
{%  include "_mobile.html" %}

            <!-- For Date Picker -->
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.common.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.dataviz.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.dataviz.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.mobile.all.min.css" %}">

    <script type='text/javascript' src="{% static "js/date-picker/kendo.all.min.js" %}"></script>
    <script type='text/javascript' src="{% static "js/date-picker/angular.min.js" %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/datepicker.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/wp-embed.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/learndash_template_script.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/js_composer_front.min.js' %}"></script>

{% endblock %}


