{% extends "site_base.html" %}
{% load staticfiles %}
{% load pinax_blog_tags %}
{% load i18n %}

{% block body_class %}archive post-type-archive post-type-archive-u_member full-width custom-background-empty wpb-js-composer js-comp-ver-4.9 vc_responsive no-js{% endblock %}
{% block body_base %}
    {% include "_messages.html" %}
            <div class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h1>博客信息</h1>
                        </div>
                        <div class="pathway col-md-4 col-sm-4 hidden-xs text-right">
                            <div class="breadcrumbs">
                                <a href="#" >Home</a> \ <span class="current">Blog</span>
                            </div><!-- .breadcrumbs -->                
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div><!--/page-heading-->
            <div id="body">
                <div class="container">
                    <div class="content-pad-3x">
                        <div class="row">
                            <div id="content" class="col-md-9"> 
                                <div class="blog-listing">

                                    <div class="blog-item  post-232 post type-post status-publish format-gallery has-post-thumbnail hentry category-academic category-research post_format-post-format-gallery">
                                        <div class="post-item blog-post-item row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="blog-thumbnail">
                                                        <div class="item-thumbnail-gallery">
                                                            <div style="opacity: 1; display: block;">
                                                                <div class="owl-wrapper-outer autoHeight" >
                                                                    <div class="owl-wrapper" style="display: block;">
                                                                        <div class="owl-item active">
                                                                            <a href="#" title="Spark Of Genius">
                                                                                <div class="item-thumbnail">
                                                                                    <img src="{% static "images/University-blog-001-409x258.jpg" %}">
                                                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="owl-controls clickable" style="display: none;">
                                                                    <div class="owl-pagination">
                                                                        <div class="owl-page active">
                                                                            <span class=""></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!--/is-carousel-->
                                                        </div>
                                                        <div class="thumbnail-overflow">
                                                            <div class="date-block main-color-2-bg dark-div">
                                                                <div class="year">2016</div>
                                                                <div class="month">Jun</div>
                                                                <div class="day">03</div>
                                                            </div>
                                                        </div>
                                                    </div><!--/blog-thumbnail-->
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-content blog-item-content">
                                                        <h3><a href="#" title="Spark Of Genius" class="main-color-1-hover">Spark Of Genius</a></h3>
                                                        <div class="item-content-name">
                                                            <div class="item-content-character">
                                                                <p>Author Name : <span>Lionel Messi, Barcelnona</span></p>
                                                                <p class="view-number"><i class="fa fa-eye"></i> 123 123</p>
                                                            </div>
                                                            <div><img src="{% static "images/U-member-2.jpg" %}"></div>
                                                        </div>
                                                        
                                                        <p>News Item :</p>
                                                        <p><span>Something Something Something Something Something Something Something Something Something Something Something Something Something Something...</span></p>
                                                        <p>Area of Study : <span>Arts and Music</span></p>
                                                        <a class="btn btn-default btn-lighter" href="#" title="Spark Of Genius">View Consultant <i class="fa fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/post-item-->
                                    </div><!--/blog-item-->
                                    <div class="blog-item  post-232 post type-post status-publish format-gallery has-post-thumbnail hentry category-academic category-research post_format-post-format-gallery">
                                        <div class="post-item blog-post-item row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="blog-thumbnail">
                                                        <div class="item-thumbnail-gallery">
                                                            <div style="opacity: 1; display: block;">
                                                                <div class="owl-wrapper-outer autoHeight">
                                                                    <div class="owl-wrapper" style="display: block;">
                                                                        <div class="owl-item active">
                                                                            <a href="#" title="Spark Of Genius">
                                                                                <div class="item-thumbnail">
                                                                                    <img src="{% static "images/University-blog-001-409x258.jpg" %}">
                                                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="owl-controls clickable" style="display: none;">
                                                                    <div class="owl-pagination">
                                                                        <div class="owl-page active">
                                                                            <span class=""></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!--/is-carousel-->
                                                        </div>
                                                        <div class="thumbnail-overflow">
                                                            <div class="date-block main-color-2-bg dark-div">
                                                                <div class="year">2016</div>
                                                                <div class="month">Jun</div>
                                                                <div class="day">03</div>
                                                            </div>
                                                        </div>
                                                    </div><!--/blog-thumbnail-->
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-content blog-item-content">
                                                        <h3><a href="#" title="Spark Of Genius" class="main-color-1-hover">Spark Of Genius</a></h3>
                                                        <div class="item-content-name">
                                                            <div class="item-content-character">
                                                                <p>Author Name : <span>Lionel Messi, Barcelnona</span></p>
                                                                <p class="view-number"><i class="fa fa-eye"></i> 123 123</p>
                                                            </div>
                                                            <div><img src="{% static "images/U-member-2.jpg" %}"></div>
                                                        </div>
                                                        
                                                        <p>News Item :</p>
                                                        <p><span>Something Something Something Something Something Something Something Something Something Something Something Something Something Something...</span></p>
                                                        <p>Area of Study : <span>Arts and Music</span></p>
                                                        <a class="btn btn-default btn-lighter" href="#" title="Spark Of Genius">View Consultant <i class="fa fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/post-item-->
                                    </div><!--/blog-item-->
                                </div>
                            </div><!--/content-->

                            <div id="sidebar" class="col-md-3 normal-sidebar">
                                <div class="row">
                                    <div id="course-search-widget-2" class=" col-md-12  widget course_search_widget">
                                        <div class=" widget-inner">
                                            <h2 class="widget-title maincolor2">Search</h2>        
                                            <form role="search" method="get" id="searchform" class="u-course-search-form" action="#">
                                                <div class="input-group">
                                                    <input type="text" value="" name="s" id="s" placeholder="SEARCH" class="form-control" />
                                                    <input type="hidden" name="post_type" value="u_course" />
                                                    <input type="hidden" name="u_course_cat" class="u-course-search-cat" value="" />
                                                    <span class="input-group-btn">
                                                        <button type="submit" id="searchsubmit" class="btn btn-default u-course-search-submit" ><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                                <h2 class="widget-title maincolor2 widget-title-study">All Areas of Study</h2>
                                                <ul class="widget-ul-sidebar">
                                                    <li><a href="#" data-value="">All</a></li>
                                                    <li><a href="#" data-value="course-autumn-2014">Civil Engineering</a></li>
                                                    <li><a href="#" data-value="bachelor"> Computer Sciences</a></li>
                                                    <li><a href="#" data-value="course">Business</a></li>
                                                    <li><a href="#" data-value="study-2">Mechanical Engineering</a></li>                
                                                    <li><a href="#" data-value="study-2">Arts and Music</a></li>                
                                                    <li><a href="#" data-value="study-2">Medical Sciences</a></li>                
                                                    <li><a href="#" data-value="study-2">Electrical Engineering</a></li>                
                                                    <li><a href="#" data-value="study-2">Architecture</a></li>                
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div><!--#sidebar-->
                        </div><!--/row-->
                    </div><!--/content-pad-->
                </div><!--/container-->
            </div><!--/body-->
    {% endblock %}

{% block extra_body %}
{%  include "_mobile.html" %}
{% endblock %}
