<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
        <title>University &#8211; Course Carousel | CactusThemes - University WordPress Theme</title>
        <meta http-equiv="X-UA-Compatible" content="IE=9">

        <link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' id='font-awesome-css'  href='css/font-awesome.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='owl-carousel-css'  href='css/owl.carousel.css' type='text/css' media='all' />
        <link rel='stylesheet' id='owl-carousel-theme-css'  href='css/owl.theme.css' type='text/css' media='all' />
        <link rel='stylesheet' id='style-css'  href='css/style.css' type='text/css' media='all' />
        <link rel="stylesheet" type="text/css" href="css/custome.css">
    </head>

<body class="archive post-type-archive post-type-archive-u_member full-width custom-background-empty wpb-js-composer js-comp-ver-4.9 vc_responsive no-js">
    <a name="top" style="height:0; position:absolute; top:0;" id="top-anchor"></a>
    <div id="body-wrap">
        <div id="wrap">
            <header>
                <div id="top-nav" class="dark-div nav-style-1">
                    <nav class="navbar navbar-inverse main-color-1-bg" role="navigation">
                        <div class="container">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="top-menu">
                                <button style="display: none!important;" type="button" class="mobile-menu-toggle visible-xs">
                                    <span class="sr-only">Menu</span>
                                    <i class="fa fa-bars"></i>
                                </button>
                                <button type="button" class="mobile-menu-toggle2 visible-xs">
                                    <span class="sr-only">menu</span>
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-right search-toggle collapsed" data-toggle="collapse" data-target="#nav-search" href="#"><i class="fa fa-search"></i></a>
                                <div class="navbar-right topnav-sidebar">
                                    <div id="text-17" class=" col-md-12  widget_text">
                                        <div class= "widget-inner">
                                            <div class="textwidget">
                                                <a class="webchat" href="#"><i class="fa fa-weixin"></i>
                                                    <span class="text">WeChat login</span>
                                                    <i class="fa fa-down"></i>
                                                    <div class="webchatqr">
                                                        <img src="images/code.jpg">
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <span>Login</span>
                                                </a>
                                                <a href="#">
                                                    <span>Registration</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                                <div id="nav-search" class="collapse dark-div">
                                    <div class="container">
                                        <form action="#">
                                            <div class="input-group">
                                                <input type="text" name="s" class="form-control search-field" placeholder="Search Here" autocomplete="off">
                                                <span class="input-group-btn">
                                                    <button type="submit"><i class="fa fa-search fa-4x"></i>&nbsp;</button>
                                                </span>
                                                <span class="input-group-btn hidden-xs">
                                                    <button type="button" data-toggle="collapse" data-target="#nav-search">&nbsp;<i class="fa fa-times fa-2x"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </nav>
                </div><!--/top-nap-->
                <div id="main-nav" class="dark-div nav-style-1">
                    <nav class="navbar navbar-inverse main-color-2-bg" role="navigation">
                        <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <a class="logo" href="#" title="University &#8211; Course Carousel | CactusThemes - University WordPress Theme">
                                    <img src="images/logo-univeristy-1x.png" alt="University &#8211; Course Carousel | CactusThemes - University WordPress Theme"/>
                                </a>                      
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="main-menu hidden-xs" data-spy="affix" data-offset-top="500">
                                <ul class="nav navbar-nav navbar-right">
                                    <li id="nav-menu-item-1268" class="main-menu-item menu-item-depth-0 menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children parent dropdown">
                                        <a href="#" class="menu-link dropdown-toggle disabled main-menu-link" data-toggle="dropdown">
                                            <i class="fa fa-home"></i>  Home <span class="menu-description">All Variations</span>
                                        </a>
                                    </li>
                                    <li id="nav-menu-item-1439" class="main-menu-item menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children parent dropdown">
                                        <a href="#" class="menu-link dropdown-toggle disabled main-menu-link" data-toggle="dropdown"><i class="fa fa-bookmark"></i> Latest Education Institution and Industry News 
                                        </a>
                                    </li>
                                    <li id="nav-menu-item-1313" class="main-menu-item menu-item-depth-0 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children parent dropdown">
                                        <a href="#" class="menu-link dropdown-toggle disabled main-menu-link" data-toggle="dropdown"><i class="fa fa-graduation-cap"></i>Education Institution Faculty Innovation Projects 
                                        </a>
                                    </li>
                                    <li id="nav-menu-item-1269" class="main-menu-item menu-item-depth-0 sub-menu-left menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children parent dropdown">
                                        <a href="#" class="menu-link dropdown-toggle disabled main-menu-link" data-toggle="dropdown"><i class="fa fa-file-text"></i> hotline phone number
                                        <p style="margin: 0;font-weight: 800;font-size: 15px;">400-041-7515</p>
                                        <i style="display: inline-block;" class="fa fa-phone"></i>
                                        <span>走进资产配置全球化时代</span>
                                    </li>
                                </ul>
                                <a href="#top" class="sticky-gototop main-color-1-hover"><i class="fa fa-angle-up"></i></a>
                           </div><!-- /.navbar-collapse -->
                        </div>
                    </nav>
                </div><!-- #main-nav -->        
                <div id="slider" class="header-bg-img header-content-0">
                </div><!--/slider-->
                <style type="text/css" scoped="scoped">
                </style>
            </header>   
            <div class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h1>Blog Posts :</h1>
                        </div>
                        <div class="pathway col-md-4 col-sm-4 hidden-xs text-right">
                            <div class="breadcrumbs">
                                <a href="#" >Home</a> \ <span class="current">Blog</span>
                            </div><!-- .breadcrumbs -->                
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div><!--/page-heading-->
            <div id="body">
                <div class="container">
                    <div class="content-pad-3x">
                        <div class="row">
                            <div id="content" class="col-md-9"> 
                                <div class="blog-listing">

                                    <div class="blog-item  post-232 post type-post status-publish format-gallery has-post-thumbnail hentry category-academic category-research post_format-post-format-gallery">
                                        <div class="post-item blog-post-item row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="blog-thumbnail">
                                                        <div class="item-thumbnail-gallery">
                                                            <div style="opacity: 1; display: block;">
                                                                <div class="owl-wrapper-outer autoHeight" >
                                                                    <div class="owl-wrapper" style="display: block;">
                                                                        <div class="owl-item active">
                                                                            <a href="#" title="Spark Of Genius">
                                                                                <div class="item-thumbnail">
                                                                                    <img src="images/003-409x258.jpg">
                                                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="owl-controls clickable" style="display: none;">
                                                                    <div class="owl-pagination">
                                                                        <div class="owl-page active">
                                                                            <span class=""></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!--/is-carousel-->
                                                        </div>
                                                        <div class="thumbnail-overflow">
                                                            <div class="date-block main-color-2-bg dark-div">
                                                                <div class="year">2016</div>
                                                                <div class="month">Jun</div>
                                                                <div class="day">03</div>
                                                            </div>
                                                        </div>
                                                    </div><!--/blog-thumbnail-->
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-content blog-item-content">
                                                        <h3><a href="#" title="Spark Of Genius" class="main-color-1-hover">Spark Of Genius</a></h3>
                                                        <div class="item-content-name">
                                                            <div class="item-content-character">
                                                                <p>Author Name : <span>Lionel Messi, Barcelnona</span></p>
                                                                <p class="view-number"><i class="fa fa-eye"></i> 123 123</p>
                                                            </div>
                                                            <div><img src="images/U-member-2.jpg"></div>
                                                        </div>
                                                        
                                                        <p>Project Item :</p>
                                                        <p><span>Something Something Something Something Something Something Something Something Something Something Something Something Something Something...</span></p>
                                                        <p>Area of Study : <span>Arts and Music</span></p>
                                                        <a class="btn btn-default btn-lighter" href="#" title="Spark Of Genius">View Consultant <i class="fa fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/post-item-->
                                    </div><!--/blog-item-->
                                    <div class="blog-item  post-232 post type-post status-publish format-gallery has-post-thumbnail hentry category-academic category-research post_format-post-format-gallery">
                                        <div class="post-item blog-post-item row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="blog-thumbnail">
                                                        <div class="item-thumbnail-gallery">
                                                            <div style="opacity: 1; display: block;">
                                                                <div class="owl-wrapper-outer autoHeight">
                                                                    <div class="owl-wrapper" style="display: block;">
                                                                        <div class="owl-item active">
                                                                            <a href="#" title="Spark Of Genius">
                                                                                <div class="item-thumbnail">
                                                                                    <img src="images/003-409x258.jpg">
                                                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="owl-controls clickable" style="display: none;">
                                                                    <div class="owl-pagination">
                                                                        <div class="owl-page active">
                                                                            <span class=""></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!--/is-carousel-->
                                                        </div>
                                                        <div class="thumbnail-overflow">
                                                            <div class="date-block main-color-2-bg dark-div">
                                                                <div class="year">2016</div>
                                                                <div class="month">Jun</div>
                                                                <div class="day">03</div>
                                                            </div>
                                                        </div>
                                                    </div><!--/blog-thumbnail-->
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="content-pad">
                                                    <div class="item-content blog-item-content">
                                                        <h3><a href="#" title="Spark Of Genius" class="main-color-1-hover">Spark Of Genius</a></h3>
                                                        <div class="item-content-name">
                                                            <div class="item-content-character">
                                                                <p>Author Name : <span>Lionel Messi, Barcelnona</span></p>
                                                                <p class="view-number"><i class="fa fa-eye"></i> 123 123</p>
                                                            </div>
                                                            <div><img src="images/U-member-2.jpg"></div>
                                                        </div>
                                                        
                                                        <p>Project Item :</p>
                                                        <p><span>Something Something Something Something Something Something Something Something Something Something Something Something Something Something...</span></p>
                                                        <p>Area of Study : <span>Arts and Music</span></p>
                                                        <a class="btn btn-default btn-lighter" href="#" title="Spark Of Genius">View Consultant <i class="fa fa-angle-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/post-item-->
                                    </div><!--/blog-item-->
                                </div>
                            </div><!--/content-->

                            <div id="sidebar" class="col-md-3 normal-sidebar">
                                <div class="row">
                                    <div id="course-search-widget-2" class=" col-md-12  widget course_search_widget">
                                        <div class=" widget-inner">
                                            <h2 class="widget-title maincolor2">Search</h2>        
                                            <form role="search" method="get" id="searchform" class="u-course-search-form" action="#">
                                                <div class="input-group">
                                                    <input type="text" value="" name="s" id="s" placeholder="SEARCH" class="form-control" />
                                                    <input type="hidden" name="post_type" value="u_course" />
                                                    <input type="hidden" name="u_course_cat" class="u-course-search-cat" value="" />
                                                    <span class="input-group-btn">
                                                        <button type="submit" id="searchsubmit" class="btn btn-default u-course-search-submit" ><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                                <h2 class="widget-title maincolor2 widget-title-study">All Areas of Study</h2>
                                                <ul class="widget-ul-sidebar">
                                                    <li><a href="#" data-value="">All</a></li>
                                                    <li><a href="#" data-value="course-autumn-2014">Civil Engineering</a></li>
                                                    <li><a href="#" data-value="bachelor"> Computer Sciences</a></li>
                                                    <li><a href="#" data-value="course">Business</a></li>
                                                    <li><a href="#" data-value="study-2">Mechanical Engineering</a></li>                
                                                    <li><a href="#" data-value="study-2">Arts and Music</a></li>                
                                                    <li><a href="#" data-value="study-2">Medical Sciences</a></li>                
                                                    <li><a href="#" data-value="study-2">Electrical Engineering</a></li>                
                                                    <li><a href="#" data-value="study-2">Architecture</a></li>                
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div><!--#sidebar-->
                        </div><!--/row-->
                    </div><!--/content-pad-->
                </div><!--/container-->
            </div><!--/body-->
            <footer class="dark-div main-color-2-bg">
                <section id="bottom">
                    <div class="section-inner">
                        <div class="container">
                            <div class="row normal-sidebar">
                                <div id="text-10" class=" col-md-3  widget widget_text"><div class=" widget-inner"> 
                                    <a href="Student_Course.html">
                                        <div class="textwidget">        
                                            <div id="un-icon-box-5" class="media un-icon-box  " data-delay=0>
                                                <div class="pull-left">
                                                   <div class="un-icon">
                                                        <i class="fa fa-cube"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body ">
                                                    <h4 class="media-heading">Course model search by Country Branch/Page</h4><p>Atero voluptatum ptatum eos et accusamus et iusto</p>          
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </a>
                            </div>
                            <div id="text-11" class=" col-md-3  widget widget_text">
                                <div class=" widget-inner">
                                    <a href="#">
                                        <div class="textwidget">        
                                            <div id="un-icon-box-6" class="media un-icon-box  " data-delay=0>
                                                <div class="pull-left">
                                                   <div class="un-icon">
                                                       <i class="fa fa-leaf"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Educational Institution Project and News Blog Branch/Page</h4><p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>            
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="text-13" class=" col-md-3  widget widget_text">
                                <a href="profile_search_branch.html">
                                    <div class=" widget-inner">         
                                        <div class="textwidget">        
                                            <div id="un-icon-box-7" class="media un-icon-box  " data-delay=0>
                                                <div class="pull-left">
                                                    <div class="un-icon">
                                                       <i class="fa fa-thumbs-up"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body ">
                                                    <h4 class="media-heading">Consultant Profile Search Branch/Page</h4><p>Ptatum eos et accusamus et iusto odio dignissimos ducimus</p>            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="text-16" class=" col-md-3  widget widget_text">
                                <div class=" widget-inner"> 
                                    <a href="javascript:void(0)">
                                        <div class="textwidget">        
                                            <div id="un-icon-box-8" class="media un-icon-box  " data-delay=0>
                                                <div class="pull-left">
                                                   <div class="un-icon">
                                                       <i class="fa fa-rocket"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body ">
                                                    <h4 class="media-heading">Innovation</h4><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <div id="divider-6" class=" col-md-3  widget divider_widget">
                                    <a href="#">
                                        <div class=" widget-inner">        
                                            <div class="un-heading un-separator">
                                                <div class="un-heading-wrap">
                                                    <span class="un-heading-line un-heading-before"><span></span></span>
                                                    <span class="un-heading-line un-heading-after"><span></span></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div id="nav_menu-11" class=" col-md-3  widget widget_nav_menu">
                                    <div class=" widget-inner">
                                        <h2 class="widget-title maincolor1">LAW &#038; BUSINESS</h2>
                                        <div class="menu-law-business-container">
                                            <ul id="menu-law-business" class="menu">
                                                <li id="menu-item-1280" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1280">
                                                    <a href="#">Accounting Technologies</a>
                                                </li>
                                                <li id="menu-item-1281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1281">
                                                    <a href="#">Business Administration</a>
                                                </li>
                                                <li id="menu-item-1282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1282">
                                                    <a href="#">Business Law</a>
                                                </li>
                                                <li id="menu-item-1283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1283">
                                                    <a href="#">Entrepreneurship</a>
                                                </li>
                                                <li id="menu-item-1284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1284">
                                                    <a href="#">Tourism and Hospitality</a>
                                                </li>
                                                <li id="menu-item-1285" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1285">
                                                    <a href="#">Marketing</a>
                                                </li>
                                                <li id="menu-item-1286" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1286">
                                                    <a href="#">Public Relations</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="nav_menu-7" class=" col-md-3  widget widget_nav_menu">
                                    <div class=" widget-inner">
                                        <h2 class="widget-title maincolor1">ENGINEERING</h2>
                                        <div class="menu-engineering-container">
                                            <ul id="menu-engineering" class="menu">
                                                <li id="menu-item-1287" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1287">
                                                    <a href="#">Information Technology</a>
                                                </li>
                                                <li id="menu-item-1288" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1288">
                                                    <a href="#">Information System</a>
                                                </li>
                                                <li id="menu-item-1289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1289">
                                                    <a href="#">Chemical Engineering</a>
                                                </li>
                                                <li id="menu-item-1290" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1290">
                                                    <a href="#">Electrical Engineering</a>
                                                </li>
                                                <li id="menu-item-1291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1291">
                                                    <a href="#">Mechanical Engineering</a>
                                                </li>
                                                <li id="menu-item-1292" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1292">
                                                    <a href="#">Software Engineering</a>
                                                </li>
                                                <li id="menu-item-1293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1293">
                                                    <a href="#">Applied Geology</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="nav_menu-8" class=" col-md-3  widget widget_nav_menu">
                                    <div class=" widget-inner">
                                        <h2 class="widget-title maincolor1">HIGHER EDUCATION</h2>
                                        <div class="menu-higher-education-container">
                                            <ul id="menu-higher-education" class="menu">
                                                <li id="menu-item-1294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1294">
                                                    <a href="#">Master Of Taxation</a>
                                                </li>
                                                <li id="menu-item-1295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1295">
                                                    <a href="#">Master of IT</a>
                                                </li>
                                                <li id="menu-item-1296" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1296">
                                                    <a href="#">Master Of Accounting</a>
                                                </li>
                                                <li id="menu-item-1297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1297">
                                                    <a href="#">MBA</a>
                                                </li>
                                                <li id="menu-item-1298" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1298">
                                                    <a href="#">Master of Geology</a>
                                                </li>
                                                <li id="menu-item-1299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1299">
                                                    <a href="#">Diploma</a>
                                                </li>
                                                <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1300">
                                                    <a href="#">Other Degrees</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="text-14" class=" col-md-3 border widget widget_text">
                                    <div class=" widget-inner">
                                        <h2 class="widget-title maincolor1">CONTACT</h2>            
                                        <div class="textwidget">
                                            <p>Email: email-us@example.com<br />
                                                Telephone: 0123 456 789<br />
                                                Adress: 123 Main street, Los Angeles, CA, USA
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="divider-7" class=" col-md-3  widget divider_widget">
                                    <div class=" widget-inner">        
                                        <div class="un-heading un-separator">
                                            <div class="un-heading-wrap">
                                                <span class="un-heading-line un-heading-before"><span></span></span>
                                                <span class="un-heading-line un-heading-after"><span></span></span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="text-15" class=" col-md-3  widget widget_text">
                                    <div class=" widget-inner">
                                        <h2 class="widget-title maincolor1">UNIVERSITY THEME</h2>           
                                        <div class="textwidget">University is an advanced Wordpress theme for education, school, training center. There are course and event custom post types so you can easily create and manage course, events. You can also create store using WooCommerce with this theme.
                                        </div>
                                    </div>
                                </div>      
                                <div id="recent-posts-3" class=" col-md-3  widget widget_recent_entries">
                                    <div class=" widget-inner">     
                                        <h2 class="widget-title maincolor1">RECENT POSTS</h2>       
                                        <ul>
                                           <li>
                                                <a href="#">Your Career Starts Here</a>
                                            </li>
                                            <li>
                                                <a href="#">Spark Of Genius</a>
                                            </li>
                                            <li>
                                                <a href="#">University Ranking
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">Our New Campus</a>
                                            </li>
                                            <li>
                                                <a href="#">Education Organization Theme</a>
                                            </li>
                                            <li>
                                                <a href="#">Summer Is Coming</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>      
                                <div id="nav_menu-10" class=" col-md-3  widget widget_nav_menu">
                                    <div class=" widget-inner">
                                        <h2 class="widget-title maincolor1">OTHER LINKS</h2>
                                        <div class="menu-others-container">
                                            <ul id="menu-others" class="menu">
                                                <li id="menu-item-1306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1306">
                                                    <a href="#">Our Campus</a>
                                                </li>
                                                <li id="menu-item-1307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1307">
                                                    <a href="#">Research</a>
                                                </li>
                                                <li id="menu-item-1308" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1308">
                                                    <a href="#">Projects</a>
                                                </li>
                                                <li id="menu-item-1309" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1309">
                                                    <a href="#">Professors</a>
                                                </li>
                                                <li id="menu-item-1310" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1310">
                                                    <a href="#">Job Opportunities</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="zflickr-4" class=" col-md-3  widget widget_flickr">
                                    <div class=" widget-inner">
                                        <h2 class="widget-title maincolor1">Flickr Widget</h2>
                                        <div class='flickr-badge-wrapper zframe-flickr-wrap-ltr'>
                                        </div>
                                        <div class="flickr_badge_image">
                                            <a href="#" target="_blank">
                                                <div class="weibo"></div>
                                            </a>
                                        </div>
                                        <div class="flickr_badge_image">
                                            <img src="images/QRchat.jpg">
                                        </div>
                                    </div>
                                </div>                      
                            </div>
                        </div>
                    </div>
                </section>
                <div id="bottom-nav">
                    <div class="container">
                        <div class="text-center line-under">
                            <a class="btn btn-default main-color-2-bg back-to-top" href="#top">TOP</a>
                                    
                        </div>
                        <div class="row footer-content">
                            <div class="copyright col-md-6">
                                        © 2014 CactusThemes - Wordpress  themes and plugins. All rights reserved.
                            </div>
                                   
                        </div><!--/row-->
                    </div><!--/container-->
                </div>
            </footer>
        </div><!--wrap-->
    </div><!--/body-wrap-->

    <!-- --------------------------------------------------- -->
    <script type='text/javascript' src="js/jquery-2.1.4.min.js"></script> 
    <script type='text/javascript' src='js/bootstrap.min.js'></script>

    <script type='text/javascript' src='js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='js/cactus-themes.js'></script>
    <script type='text/javascript' src='js/custom.js'></script> 
</body>
</html>

